@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-slate-800/50 backdrop-blur-md border border-slate-700;
  }
}
